.landing-page {
  background-image: url('https://cdn.pixabay.com/photo/2020/03/09/23/59/nursery-4917417_1280.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
